<div class="card">
    <div class="card-header d-flex flex-row justify-content-between">
        <div class="listing-title is-dark-light my-auto">
            {{title}} 
            {{!-- Add an indicator on the listing if it is marked sold --}}
            {{#if is_sold}}
                <span class="p-1 m-1" style="border: 1px #fa9e3b solid; color: #fa9e3b">SOLD!</span>
            {{/if}}
        </div>
        <div class="user-info my-auto">
            Posted by {{user.username}} on {{format_date created_date}}
        </div>
    </div>
    <div class="card-body d-flex flex-row justify-content-around flex-lg-nowrap flex-sm-wrap">
        <div class="listing-img col-lg-4 col-md-12">
            <img src="/uploads/{{img_file_name}}"></img>
        </div>
        <div class="listing-info col-lg-8 col-md-12">
            <div class="listing-detail mb-2">
                ${{price}} &#149; {{category}} &#149; {{condition}}
            </div>
            <div class="listing-content my-auto">
                {{content}}
            </div>
            {{!-- Display the comment count number --}}
            <div class="position-absolute bottom-0 end-0 p-3 justify-content-end text-secondary small">
                Comments: {{comments.length}}
            </div>
        </div>
    </div>
</div>