<div class="card">
    <div class="card-header d-flex flex-direction-row justify-content-between">
        <div class="listing-title is-dark-light my-auto">
            {{title}}
        </div>
        <div class="user-info my-auto">
            Posted by {{user.username}} on {{format_date created_date}}
        </div>
    </div>
    <div class="card-body d-flex flex-direction-row justify-content-between">
        <div class="listing-img col-md-4">
            <img src="" alt="">
        </div>
        <div class="listing-info col-md-8">
            <div class="listing-detail mb-2">
                ${{price}} &#149; {{category}} &#149; {{condition}}
            </div>
            <div class="listing-content my-auto">
                {{content}}
            </div>
            
        </div>
    </div>
</div>